/* å¯†ç å¤ªç®€å•å¼¹çª—æ ·å¼ */

#password-too-simple {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2;
    display: none;
}

#password-too-simple.show {
    display: block;
}

#password-too-simple .box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -130px;
    margin-left: -214px;
    box-sizing: border-box;
    width: 428px;
    height: 260px;
    padding: 38px 32px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

#password-too-simple .box .close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    right: 14px;
    background-image: url('/static/images/ic-close.png');
    background-size: contain;
    cursor: pointer;
}

#password-too-simple .box .title {
    font-size: 18px;
    color: #484848;
}

#password-too-simple .box .content {
    font-size: 14px;
    color: #707070;
    margin-top: 12px;
}

#password-too-simple .box .btn-bar {
    margin-top: 70px;
    text-align: right;
}

#password-too-simple .box .btn-bar a {
    display: inline-block;
    width: 94px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}

#password-too-simple .box .btn-bar a.now-to-change {
    background-color: #2672ff;
    color: #FFFFFF;
}

#password-too-simple .box .btn-bar a.later-to-change {
    color: #aaa;
}