body{
    margin: 0;
    padding: 0;
    background: #a94442;
}

/*.slidershow{*/
    /*width: 600px;*/
    /*height: 500px;*/
    /*overflow: hidden;*/
/*}*/
/*.middle{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
/*}*/
/*.navigation{*/
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left:50%;*/
    /*transform: translateX(-50%);*/
    /*display: inline-flex;*/
/*}*/
/*.bar{*/
    /*width: 50px;*/
    /*height: 10px;*/
    /*border: 2px solid white;*/
    /*margin: 6px;*/
    /*cursor: pointer;*/
/*}*/
/*.bar:hover{*/
    /*background: white;*/
/*}*/
/*input[name="r"]{!*获取所有的单选按钮，让radio隐藏*!*/
    /*position: absolute;*/
    /*visibility: hidden;*/
/*}*/
/*.slides{*/
    /*height: 100%;*/
    /*width:500%;*/
    /*display: inline-flex;*/
/*}*/
/*.slide{*/
    /*width: 20%;*/
    /*transition: 0.2s;*/
/*}*/
/*.slide img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*#r1:checked~.s1{*/
    /*margin-left: 0;*/
/*}*/
/*#r2:checked~.s1{*/
    /*margin-left: -20%;*/
/*}*/
/*#r3:checked~.s1{*/
    /*margin-left:-40%;*/
/*}*/
/*#r4:checked~.s1{*/
    /*margin-left: -60%;*/
/*}*/
/*#r5:checked~.s1{*/
    /*margin-left: -80%;*/
/*}*/